h1{
    background-color: skyblue;
    text-align: center;
    font-size: 40px;
    
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
body{
    background-color: lightblue;
}
p{
    background-color:coral;
    font-size: xx-large;
}
ul{
    background-color: sandybrown;
    font-size: xx-large;
}